body {
  background-color: #000000;
}

.issue {
  width: 340px;
  height: 440px;
  margin: 20px 20px 20px 20px;
}

#issuu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  width: 100%;
}

#pdf-display {
  width: 45vw;
  height: 90vh;
}

#pdf-container {
  padding-top: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#overlay {
  display: none;
  background-color: #000000;
  height: 100vh;
  overflow: hidden;
}

#close-overlay {
  position: absolute;
  right: 100px;
  margin-top: 20px;
}

.btn {
  padding: 0px;
  transition: transform 0.3s;
  background: #ffffff;
  border-color: #000000;
  border-width: 5px;
  color: #000000;
  font-family: Monaco, monospace;
  font-size: 30px;
  height: 75px;
  width: 75px;
  border-radius: 100%;
}

.btn:hover {
  cursor: pointer;
  background: #cccccc;
  transform: scale(1.05);
}

.issue-button {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.issue-dup {
  position: absolute;
  top: 2px;
  left: 0px;
}

.issue-button:hover {
  position: relative;
  z-index: 2;
  transition: transform 0.1s;
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.issue-button:not(:hover) {
  box-shadow: 10px 10px 10px grey;
}

#nusci {
  width: 200px;
  height: 200px;
  vertical-align: middle;
}

#title {
  color: #ffffff;
  padding-left: 150px;
  position: relative;
  text-align: center;
  font-size: 75px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logo {
  display: inline-flex;
  justify-items: center;
  align-items: center;
}

.issue-dup:hover {
  position: absolute;
  left: 0px;
  z-index: 1;
  top: 2px;
  transition: transform 0.1s;
  transform: scale(1.05);
  filter: blur(16px);
}